<a href="https://colab.research.google.com/github/TanuRajput110/PYTHON-PROGRAMS/blob/main/exercise_problem_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array.**

In [1]:
 
# The element value in the i-th row and j-th column of the array should be i*j.
# Note :
# i = 0,1.., m-1 
# j = 0,1, n-1.
# Input
# Input number of rows: 3                                                                                       
# Input number of columns: 4  
# Output
# [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]] 
m=int(input("enter the row count----"))
n=int(input("enter the column count----"))
arr = [[i*j for i in range(n)] for j in range(m)]
print(arr)

enter the row count----3
enter the column count----4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [2]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]
for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col
print(multi_list)

Input number of rows: 3
Input number of columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

**2.Write a Python program to check a triangle is valid or not**

In [4]:
def is_valid_triangle(a,b,c):
    if a+b>=c and b+c>=a and c+a>=b:
        return True
    else:
        return False

# Reading Three Sides
side_a = float(input('Enter length of side a: '))
side_b = float(input('Enter length of side b: '))
side_c = float(input('Enter length of side c: '))

# Function call & making decision

if is_valid_triangle(side_a, side_b, side_c):
    print('Triangle is Valid.')
else:
    print('Triangle is Invalid.')

Enter length of side a: 23
Enter length of side b: 26
Enter length of side c: 29
Triangle is Valid.

In [5]:
a = float(input('Enter length of side a: '))
b = float(input('Enter length of side b: '))
c = float(input('Enter length of side c: '))
if a+b>=c and b+c>=a and c+a>=b:
     print("valid traingle")
else:
     print("non valid traingle")

Enter length of side a: 23
Enter length of side b: 26
Enter length of side c: 29
valid traingle

**3.# Write a Python program to construct the following pattern, using a nested loop number.**

1                                                                                                             
22                                                                                                            
333                                                                                                           
4444                                                                                                          
55555                                                                                                         
666666                                                                                                        
7777777  
                                                                                                      88888888                                                                                                      
999999999

In [6]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

** 4. Write a Python program to construct the following pattern, using a nested for loop.**

#  * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

In [11]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
n=5

for i in range(n):
 print('*'*(i+1))
for i in range(n-1):
 print('*'*(n-i-1))

*
**
***
****
*****
****
***
**
*

**5.Write a Python program that accepts a string and calculate the number of digits and letters**

Sample Data : "Python 3.2"

Expected Output :

Letters 6 

 Digits 2

In [15]:
s = input("Input a string")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

Input a stringhii i am tanu rajput 689
Letters 16
Digits 3

**6. Count the number of even and odd numbers from a series of numbers**

 Input 

 numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)     Declaring the tuple

 Output--

 Number of even numbers :   4                                                                                 
 Number of odd numbers : 5

In [19]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
#we cann't change into the tuple so we have to convert the tuple into the list
num=list(numbers)
even=odd=0
for i in num:
  if i%2==0:
     even=even+1
  else:
      odd=odd+1  
print("even number count==",even) 
print("odd number count==",odd)

even number count== 4
odd number count== 5

** 7.Write a Python program to get the Fibonacci series between 0 to 50 **

In [21]:
x,y=0,1
while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

**  8.Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700. **

In [27]:
list=[i for i in range(1500,2701)  if i%7==0 and i%5==0 ]
print(list)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [26]:
nl=[]
for i in range(1500,2701):
  if i%7==0 and i%5==0:
     nl.append(str(i))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

** 9.# Generate a random number between 1 and 9 (including 1 and 9).

     Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right.

In [36]:
import random
num=random.randint(1,10)

guess=int(input("guess number is--"))
guess = 0
count = 0
while guess != num5 and guess != "exit":
    guess = input("What's your guess?")
    
    if guess == "exit":
        break
    
    guess = int(guess)
    count += 1
if guess==num:
  print("exactly right")
elif guess<num:
  print("guessed is too low") 
elif guess >num:
  print("guessed is too high")
print("random number is--",num)

guess number is--5
What's your guess?6
What's your guess?4
What's your guess?3
What's your guess?8
What's your guess?2
What's your guess?1
What's your guess?3
What's your guess?7
What's your guess?8
What's your guess?9
exactly right
random number is-- 9

10. Write a Python program to check the validity of a password (input from users).

In [37]:
import re
p= input("Input your password")
x = True
while x:  
    if (len(p)<6 or len(p)>12):
        break
    elif not re.search("[a-z]",p):
        break
    elif not re.search("[0-9]",p):
        break
    elif not re.search("[A-Z]",p):
        break
    elif not re.search("[$#@]",p):
        break
    elif re.search("\s",p):
        break
    else:
        print("Valid Password")
        x=False
        break
if x:
    print("Not a Valid Password")

Input your passworddheuyfrei5869iw#
Not a Valid Password