<a href="https://colab.research.google.com/github/TanuRajput110/PYTHON-PROGRAMS/blob/main/lists_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####1.List can be thought of the most general version of a sequence in python
2.they are mutable
3.list are constructed with bracket [] and seperated by commas seperating every element in the list

In [1]:
#assign a list to a variable
list_1=[1,4,7,7]
print(list_1)
type(list_1)

[1, 4, 7, 7]

list

we just created a list of integers,but lists can actually hold different object types

In [3]:
list_1=[2,3,"tanu",'y',True,4.55]
print(list_1)
len(list_1)

[2, 3, 'tanu', 'y', True, 4.55]

6

####list indexing

indexing just work like a strings.
indexing of a list refers to the location of an element in the list.

In [6]:
list_indexing=["hello","love","parents","mine","hii"]
print(list_indexing)
print(list_indexing[0])
print(list_indexing[3])
print(list_indexing[-4])

['hello', 'love', 'parents', 'mine', 'hii']
hello
mine
love

##list slicing

1.we can use : to perform slicing .
2.element on right of semicolon is not included.

In [7]:
print(list_1[1:6])
print(list_1[:])
print(list_1[:-1])
print(list_1[-2:])
print(list_1[0:])

[3, 'tanu', 'y', True, 4.55]
[2, 3, 'tanu', 'y', True, 4.55]
[2, 3, 'tanu', 'y', True]
[True, 4.55]
[2, 3, 'tanu', 'y', True, 4.55]

####list operation

--concatenation

In [8]:
print(list_1)
x=["45","tanu","like","oo"]
print(list_1 + x)

[2, 3, 'tanu', 'y', True, 4.55]
[2, 3, 'tanu', 'y', True, 4.55, '45', 'tanu', 'like', 'oo']

In [10]:
list_1 + ['gub','eed']

[2, 3, 'tanu', 'y', True, 4.55, 'gub', 'eed']

note:: this doesn't actually change the original list! you would have to ressign  the list to make the change permanent.

In [12]:
list_1
#reassign
y=list_1 + ['gub','eed']

use * for duplication of our list

In [13]:
len(y*3)

24

###List Function

len()

In [14]:

#len() function returns the length of the list
print(y)
len(y)

[2, 3, 'tanu', 'y', True, 4.55, 'gub', 'eed']

8

min()

In [17]:
#min() function returns the minimum element of the list
#max(y)
#not supported max(y)
d=["burger","pizza","tanu"]
max(d)

'tanu'

sum()

In [18]:
#sum() functions returns the sum of the elements of the list
#sum() function only works with lists of numeric of numeric data types
sum_list = [7,8,5,3,2,4,5]
sum(sum_list)

34

sorted()

In [19]:
#sorted() function return the sorted list 
#sorted() function only works with lists of numeric data type 
#sorted() functions takes reverse boolean as an argument
sorted(sum_list)
sorted(x)

['45', 'like', 'oo', 'tanu']

###List method

append()

In [20]:
#append() method to permanently add an item to the end of a list
#it takes the element which you want to add to the list as an argument
sum_list.append(40)

i was expecting some output.lets see what happened  to my_list.

In [21]:
print(sum_list)
print(len(sum_list))

[7, 8, 5, 3, 2, 4, 5, 40]
8

when we use append method .it changes in original list

In [22]:
#we can in fact add a list to our sum_list object
sum_list.append([1,3,2])

###extend()
--use extend() method to merge a list to an existing list
--extend() method takes a list or any iteration(don't worry about it now) as an argument

In [23]:
sum_list.extend(["tanu","institute","wolf"])
print(sum_list)

[7, 8, 5, 3, 2, 4, 5, 40, [1, 3, 2], 'tanu', 'institute', 'wolf']

pop()

--use pop() to 'pop off' an item from the list


--by default pop() takes off the element at last index,but we can also specify which index to pop off

In [24]:
print(sum_list.pop(4))
print(sum_list.pop(0))
print(sum_list.pop())

2
7
wolf

##remove()

--use remove() to remove an item /element from the list --by deafault remove() the specific element from the list

In [25]:
print(sum_list)
sum_list.remove("tanu")

[8, 5, 3, 4, 5, 40, [1, 3, 2], 'tanu', 'institute']

###count

count() method returns the total occurrence of a specified element in the list

In [ ]:
print(sum_list)
sum_list.count('tanu')

In [27]:
sum_list.count(3)

1

##index()

it returns the index of a specified element.

In [30]:
print(sum_list)
#sum_list.index('tanu')
print(sum_list.index('institute'))

[8, 5, 3, 4, 5, 40, [1, 3, 2], 'institute']
7

In [ ]:
sum_list[5]

##sort()

it is used to sort either ascending or descending order.
By default it is ascending order
it takes reverse boolean as an argument
it only works on a list with elements of same data type

In [33]:
print(sum_list)
#reverse not supported in mix of list and string
sum_list.sort(reverse=True)
print(sum_list)

[8, 5, 3, 4, 5, 40, [1, 3, 2], 'institute']

TypeError: ignored

##reverse()

In [34]:
sum_list.reverse()

##nested list

In [35]:
list_1=[1,2,3]
list_2=['a','c','r']
list_3=[4,5,6]
list_of_list=[list_1,list_2,list_3]

In [36]:
type(list_of_list)

list

In [38]:
#grab first item of the first item in matrix object
list_of_list[-1][1]

5

###QUIZ FOR LIST

Which of the following are true of python lists?
1.there is no conceptual limit to the size of a list
2.a given object may appear in a list more once

2.list are mutable

In [40]:
#3.a list of names is defined as x=['alice','bob','john','travis'].what does x[2:2] return?
x=['alice','bob','john','travis']
x[2:2]

[]

In [41]:
#4.What will be the output of the following?
sampleList=[10,20,30,40,50]
sampleList.pop()
print(sampleList)

[10, 20, 30, 40]

In [42]:
#5.
min(["Archer","anime","proteas","calibre"])

'Archer'

6.which of the following are true.
sorted() method changes the list
sorted() function does not changes the list

In [43]:
#7.what is the output of the following?
l=[none]*10
print(len(l))
#none is not defined

NameError: ignored

In [49]:
#8.which of the following python statement 'z'?
x=[10,[3.14,20,[30,"baz",2.17]],"foo"]
x[1][2]

[30, 'baz', 2.17]