<a href="https://colab.research.google.com/github/TanuRajput110/PYTHON-PROGRAMS/blob/main/practice_of_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

######how to create string?
---To create a string you need to use either single quotes and double quotes.

In [3]:
x='ALGEBRA'
x
#if we use print the no quote will be come in output
print(x)

ALGEBRA

######square is must important in string.In python we will recognize string in some sequence of letter ,once we have sequence then we can do anything with our sequence.
this means giving indexing to them.

In [4]:
x='hy i m Tanu.'
print(x)

hy i m Tanu.

In [6]:
#find the index 6..its gioving space
x[6]

' '

In [8]:
#find other indexes
print(x[4])
print(x[7])
print(x[-1])#it will give indexing from reverse(-1=last index)(-2=last second index)
print(x[-5])

T
.
T

######we can use a built in function to count all string including space and punctuation.

len()

In [9]:
len(x)

12

######String indexing
python can use a index to call its part of sequence .
a string index refers to the lacation of an element present in a string

In [13]:
string="principal component analysis!"
print(string[15])
print(len(string)-1)
print(string[-1])

n
28
!

######Slicing

In [14]:
print(string[1:13])

rincipal com

In [15]:
print(string[:4])

prin

In [17]:
#print all string
print(string[:])

principal component analysis!

In [26]:
print(string[:0])
print(string[0:])
print(string[-4:])
#grab everything but go in step size of 5
print(string[5::5])
#we can use this to print a string backward
print(string[1::-1])
#we can use this to print a string backward with steps
print(string[4:8:-1])

principal component analysis!
sis!
icnas
rp

In [27]:
print(string[4:8:-1])

In [28]:
print(string[-4:])

sis!

In [30]:
print(string[::5])

picnas

In [31]:
print(string[::-5])

!ltpln

###String Properties

--it's important to note that strings have an important property known as immutability
--this means that once a string is created,the elements within it can not be changed or replaced via item assignment.we will see how we can do such operation using string method

In [33]:
# 1.concatenate string
string1='abc'
string2='def'
num='4' #if we want to add a number with a string then we can put that in '' so that it beome string
string1+string2+num

'abcdef4'

In [35]:
#but if we print original string then there wil no change into it
#so we will assign that change into an variable
string1=string1+string2+num
string1

'abcdef4def4'

In [40]:
#if we want string  double,tripple,etc so multiply with that number
y=string1*3
y

'abcdef4def4abcdef4def4abcdef4def4'

###String function and methods

In [41]:
#len()--to extract the length of our string.
len(y)

33

In [42]:
#lower()--to convert into lowercase
y.lower()

'abcdef4def4abcdef4def4abcdef4def4'

In [43]:
#upper()--to convert into uppercase
y.upper()

'ABCDEF4DEF4ABCDEF4DEF4ABCDEF4DEF4'

In [46]:
#count()--it count all sequence of a string..or total number of elements in a string
print(y.count(" "))#it will count space and we can count any digit of any index
y.count("eu")

0

0

In [48]:
#find()--it find first index of occurance of any word,letter or apace or anything which is present..if not present then gives none
y.find('e')

4

In [50]:
#replace()--we can replace our string with another..it may be word letter or anything
y.replace('','-')

'-a-b-c-d-e-f-4-d-e-f-4-a-b-c-d-e-f-4-d-e-f-4-a-b-c-d-e-f-4-d-e-f-4-'

In [51]:
#check if a string contain a particular word or string
z='i m tany'
'tany' in z

True

##QUIZ QUESTIONS

In [55]:
#1.what is the datatype of the variable y defined as y='True'?
type(y)

str

In [56]:
#2.you have a variable named my_string ='artificial intelligence'.what will be the output of   my_string[4:12]?
y[4:12]

'ef4def4a'

In [57]:
#3.YOU ARE GIVEN A STRING ,S='foobar'.HAT WILL BE THE OUTPUT OF THE STATEMENT s[::-5]
s='foobar'
s[::-5]

'rf'

In [58]:
#4.which index does the value -1 correspond to?
s[-1]
#ans:last elements

'r'

In [ ]:
#we have a string variable,random_string='random'.what will be the output of 
#random_string[-1]='mo'?
random_string='random'
random_string[-1]='mo'
#it will throw error 'str'object doesnt support item assignment

In [ ]:
#7.strings are immutable

In [62]:
#you are given a string s ='mississippi'.order the given options based on their output in their ascending order
s='Mississippi'
print(s.count('p'))
print(s.count('z'))
print(s.find('i'))
print(s.count('s')) 
#ascending order is=
#s.count('s')
#s.count('p')
#s.find('i')
#s.count('z')

2
0
1
4

In [63]:
#what is the output of print function call
s='foo'
t='bar'
print('barf' in 2*(s+t))

True