<a href="https://colab.research.google.com/github/TanuRajput110/PYTHON-PROGRAMS/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INPUT AND OUTPUT

In [ ]:
print("THANK YOU GOD")

THANK YOU GOD

In [ ]:

x="pinky"
print("believe youself",x)
print(x + " pinku")

believe youself pinky
pinky pinku

In [ ]:
print("3 raised to power 4=",3**4)

3 raised to power 4= 81

In [ ]:
m=10
n=20
print(m ,"+" ,n ,"=" ,m+n)

10 + 20 = 30

In [ ]:
print(2+4,6/3,90*8)

6 2.0 720

In [ ]:
x=input()
x

55

'55'

In [ ]:
print(x)

55

In [ ]:
x1=int(input('enter an integer number'))
x1

enter an integer number56

56

In [ ]:
x=input()
x1=int(input("enter a value"))
print(x1+1)

15
enter a value4
5

In [ ]:
val=int(input("enter a value"))

enter a value56

In [ ]:
y=float(input("enter value"))

enter value45

In [ ]:
import string
for i in range(5):
  print(repr(i).rjust(5))

#repr=itis an builtin function which is used to return the string representation of the value passed to eval function by default
#(eval function = mostly used in situations or application which need to evaluate math expression)
#rjust=(it is a built in function which returns a new string of given length after substituting a give character in left side of original string)
#syntax ====string.rjust(length,fillchar)

    0
    1
    2
    3
    4

In [ ]:
string="greeks"
length=10
fillchar='*'
print(string.rjust(length))
print(string.rjust(length,fillchar))

    greeks
****greeks

In [ ]:
string="greeks"
length=10
fillchar='*'
print(string.ljust(length))
print(string.ljust(length,fillchar))

greeks
greeks****

In [ ]:
for i in range(6):
  print(repr(0).rjust(6))
  print(repr(3).rjust(6))

     0
     3
     0
     3
     0
     3
     0
     3
     0
     3
     0
     3

In [ ]:
print(repr(23.3))

23.3

In [ ]:
"12".zfill(5)
#zfill() method adds zeros at the beginning of the string ,untill it reaches the specified length
#syntax====string.zfill(len)

'00012'

In [ ]:
print(('{0:.3f}'.format(5.7416)))
#print(('{4:.3f}'.format(10.7416))) #index should start from 0
print(('{0:.6f}'.format(5.7416)))
print(('{0:.4f}'.format(5.7416)))

#it print a decimal number ,with 3 decimal digit accuracy here f is floating point..if digits are less then 0 will be added at last

5.742
5.741600
5.7416

In [ ]:
for x in ['sunny','monty']:
  print('hi"{}!"'.format(x))

hi"sunny!"
hi"monty!"

In [ ]:
for x in ['sunny','monty']:
  print('hi"{}!"'.format(2))

hi"2!"
hi"2!"

In [ ]:
print(('{0:3d},{2:6.1f},{1:4d}'.format(1,2,3.0)))

  1,   3.0,   2

In [ ]:
count={'Unit':1,'tenth':10,'hundred':100}
for place,value in count.items():
  print(('{0:10}==>{1:10d}'.format(place,value)))

Unit      ==>         1
tenth     ==>        10
hundred   ==>       100

In [ ]:
#ask for users first name and display the output message
first_name=input("enter first name:")
print("hello",first_name)

enter first name:tanu
hello tanu

In [ ]:
num1=int(input("enter first team:"))
num2=int(input("enter second team:"))
ans=num1+num2
print("the answer is",ans)

enter first team:56
enter second team:78
the answer is 134

In [ ]:
num3=int(input("enter third number:"))
answer=ans*num3
print("the answer is",answer)

enter third number:56
the answer is 7504

In [ ]:
x=int(input("how many slices you started:"))
y=int(input("how many slices you have eaten:"))
remain=x-y
print("remaining slices you have is:",remain)

how many slices you started:7
how many slices you have eaten:4
remaining slices you have is: 3

In [ ]:
name=input("enter your name:")
age=int(input("enter your age"))
new_age=age+1
print(name,"next bdday you will be",new_age)

enter your name:tanu
enter your age21
tanu next bdday you will be 22

In [ ]:
x=int(input("enter the total price of the bill:"))
y=int(input("how many dinners you have:"))
result=x/y
print("each person must pay:",result)

enter the total price of the bill:500
how many dinners you have:5
each person must pay: 100.0

In [ ]:
days=int(input("enter the number of days:"))
hours=days*24
minutes=hours*60
seconds=minutes*60
print("In",days,"days there are...")
print(hours,"hours")
print(minutes,"minutes")
print(seconds,"seconds")

enter the number of days:45
In 45 days there are...
1080 hours
64800 minutes
3888000 seconds

In [ ]:
kilo=int(input("enter the number of kilos:"))
pound=kilo*2.204
print("that is",pound,"pounds")

enter the number of kilos:56
that is 123.424 pounds

In [ ]:
larger=int(input("enter the number over 100:"))
smaller=int(input("enter a number under 10:"))
ans=larger/smaller
print(smaller,"goes into",larger,answer,"times")

enter the number over 100:300
enter a number under 10:23
23 goes into 300 7504 times

In [ ]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
if num1>num2:
  print(num1,num2)
else:
  print(num2,num1)

enter first number:45
enter second number:67
67 45

In [ ]:
num=int(input("enter a number under 20:  "))
if num >= 20:
  print("too high")
else:
  print("thank you")

enter a number under 20:  23
too high

In [ ]:
colour=input("enter you fav. colour:")
if colour == "red" or colour =="Red" or colour =="RED":
  print("i like red too!")
else:
  print("i don't like",colour,"colour","i prefer red")

enter you fav. colour:df
i don't like df colour i prefer red

In [ ]:
raining=input("is it raining outside?")
raining=str.lower(raining)
if raining=="yes":
  windy=input("is it windy?")
  windy=str.lower(windy)
  if windy=="yes":
    print("its too windy for umbrella")
  else:
    print("take an umbrella")
else:
  print("have a good day")

is it raining outside?yes
is it windy?yes
its too windy for umbrella

In [ ]:
first_name=input("enter your first name::")
len=len(first_name)
print("length of your first name is",len)

enter your first name::Tanu
length of your first name is 4

In [5]:
num=float(input("enter a number with lots of decimal places:"))
ans=num*2
print(ans)

enter a number with lots of decimal places:56.87876
113.75752

In [6]:
#update program 027 so that it display the answer to two decimal places
numm=float(input("enter a number with lots"))
anss=numm*2
print(round(anss,2))

enter a number with lots65.887
131.77

In [7]:
import math
nummm=int(input("enter an integer over 500::"))
answerr=math.sqrt(nummm)
print(round(answerr,2))

enter an integer over 500::6788
82.39

In [8]:
#display pi to five decimal places
print(round(math.pi,5))

3.14159

In [9]:
radius=float(input("enter the radius of a circle"))
area=3.14*radius*radius
print(area)

enter the radius of a circle67
14095.46

In [10]:
import math
areaa=math.pi*(radius**2)
print(areaa)

14102.609421964582

In [13]:
numm1=int(input("enter first number::"))
numm2=int(input("enter second number::"))
rem=numm1%numm2
div=numm1//numm2
print(numm1,"divide by",numm2,"is",div,"with",rem,"remaining")

enter first number::66
enter second number::77
66 divide by 77 is 0 with 66 remaining

In [14]:
print('''1).Square
       2).Triangle''')
nn=int(input("enter a number: 1 or 2"))
if nn==1:
  a=int(input("enter the length of one side of square::"))
  area1=a*a
  print("area of square is ",area1)
elif nn==2:
  b=int(input("enter the base of traingle"))
  c=int(input("enter the height of triangle"))  
  areaaaa=(b*c)/2
  print(areaaaa)
else:
  print("invalid number please enter only from 1 or 2")

1).Square
       2).Triangle
enter a number: 1 or 22
enter the base of traingle56
enter the height of triangle65
1820.0

In [16]:
name_1=input("enter your name::")
for i in range(1,6):
  print(name_1)

enter your name::Tanu Rajput
Tanu Rajput
Tanu Rajput
Tanu Rajput
Tanu Rajput
Tanu Rajput

In [18]:
n=int(input("enter a number how muvh times you want to print"))
for k in range(0,n):
  print(name_1)

enter a number how muvh times you want to print4
Tanu Rajput
Tanu Rajput
Tanu Rajput
Tanu Rajput

In [19]:
for i in range(0,3):
  print(i)

0
1
2

In [20]:
for i in range(0,n):
  for k in name_1:
    print(i)

0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
3