<a href="https://colab.research.google.com/github/TanuRajput110/PYTHON-PROGRAMS/blob/main/PYTHONNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

!.BASIC AIRTHMETIC..

In [ ]:
#ADDITION
print("input first number:")
a=int(input())
print("input second number:")
b=int(input())
print("sum of a and b :")
c=a+b
print(c)

input first number:
45
input second number:
7
sum of a and b :
52

In [ ]:
#SUBSTRACTION
print("input first number:")
a=int(input())
print("input second number:")
b=int(input())
print("sUB of a and b :")
c=a-b
print(c)

input first number:
66
input second number:
5
sUB of a and b :
61

In [ ]:
#MULTIPLICATION
print("input first number:")
a=int(input())
print("input second number:")
b=int(input())
print("MUL of a and b :")
c=a*b
print(c)

input first number:
56
input second number:
6
MUL of a and b :
336

In [ ]:
#DIVISION7
print("input first number:")
a=int(input())
print("input second number:")
b=int(input())
print("DIVISION of a and b :")
c=a/b
print(c)

input first number:
56
input second number:
8
DIVISION of a and b :
7.0

In [ ]:
#FLOOR DIVISION
print("input first number:")
a=int(input())
print("input second number:")
b=int(input())
print("FLOORDIVISION of a and b :")
c=a//b
print(c)

input first number:
56
input second number:
78
FLOORDIVISION of a and b :
0

!.VARIABLE ASSIGNMENTS

In [ ]:
a=7
print(a)
print(a+a)
print(a/7)
print(a-2)

7
14
1.0
5

!.Determining variable type with type()

In [ ]:
#determining variable type with type()
type(a)
b=7.7
print(type(b))
c='hello'
print(type(c))
d=[1,2,3,4]
print(type(d))
e=(1,2,3)
print(type(e))
f={1:"one",2:"two"}
print(type(f))
g={1,2,3}
print(type(g))
i=True
print(type(i))

<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

!.Static Basics

In [ ]:
s='python_codes'
s
'python_codes'
print("(1).length of code::")
print(len(s))
print("(2).0th index:")
print(s[0])
print("(3).print this indexing  s[1:0]:")
print(s[1:])
print(["(4).print s:"])
print(s)
print("(5).print this indexing  s[:7]:")
print(s[:7])
print("(6).print this indexing  s[:]:")
print(s[:])
print("(7).print this indexing  s[::1]:")
print(s[::1])
print("(8).print this indexing s[::-1]:")
print(s[::-1])
print("(9).print this :::var*10(var=a):")
var="a"
var*10
print('print this term--s=s+ "python channel"::::: ')
s=s+"python channel"
print(s)
print("s.upper()::")
s.upper()
print("s.lower()")
s.lower()
print("s.split('codes'):::")
s.split('codes')

(1).length of code::
12
(2).0th index:
p
(3).print this indexing  s[1:0]:
ython_codes
['(4).print s:']
python_codes
(5).print this indexing  s[:7]:
python_
(6).print this indexing  s[:]:
python_codes
(7).print this indexing  s[::1]:
python_codes
(8).print this indexing s[::-1]:
sedoc_nohtyp
(9).print this :::var*10(var=a):
print this term--s=s+ "python channel":::::
python_codespython channel
s.upper()::
s.lower()
s.split('codes'):::

['python_', 'python channel']

!.LIST

In [ ]:
#list making
list=[8,0,5,1]
print(list)
len(list)

list_2=['string','8065','p']
print(list_2)
print(len(list_2))
#indexing and slicing
list=['one','ox','ok']
print(list[0])
print(list[1:])
print(list[2:])
print(list[-1])
print(list[::-1])
print(list + [1233])
print(list*2)

#Basic list methods
list=[4,0,1,3]
print(list.append("new"))
print(list.pop())
print(list)
print(list.reverse())

#nesting list
list_1=[1,2,34]
list_2=[4,6,7]
list_3=[4,5,7]
matrix=[list_2,list_2,list_3]
print(matrix)
print(matrix[1])
print(matrix[0][1])

[8, 0, 5, 1]
['string', '8065', 'p']
3
one
['ox', 'ok']
['ok']
ok
['ok', 'ox', 'one']
['one', 'ox', 'ok', 1233]
['one', 'ox', 'ok', 'one', 'ox', 'ok']
None
new
[4, 0, 1, 3]
None
[[4, 6, 7], [4, 6, 7], [4, 5, 7]]
[4, 6, 7]
6

!.PROGRAMS

In [ ]:
#program to print the largest of the three number
a=int(input("enter a  "))
b=int(input("enter b "))
c=int(input("enter c "))
if a>b and a>c:
  print("a is largest")
if b>a and b>c:
  print("b is largest")  
if c>a and c>b:
  print("c is the largest")

enter a  34
enter b 45
enter c 55
c is the largest

In [ ]:
#create a program that asks the users to enter their name and their age.
#Print out a message addressed to them the year that they will turn 100 years old
import datetime
import datetime
name=input("Type your name:")
age=input("type your age:")
now=datetime.datetime.now()
diff=100-int(age)
print('hi'+" "+ name +" "+'you will complete 100 years in',(now.year+diff))

Type your name:Tanu
type your age:21
hi Tanu you will complete 100 years in 2100

In [ ]:
#ask the user for a number.depending on whether the number is even or odd.
#print out an appropriate message to the user.
number = int(input("Number:"))
if number%2==0 and number%4!=0:
  print("your number is even")
elif number%4==0:
  print("your number is multiple of 4")
else:
  print("your number is odd")

Number:45
your number is odd

In [ ]:
#Python Program to Find the Square Root:
# Python Program to calculate the square root

# Note: change this value for a different result
num = 8 

# To take the input from the user
#num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))
Out

The square root of 8.000 is 2.828

{1: '5',
 2: '5',
 4: '45',
 5: '3',
 8: '7',
 10: '4',
 31: 7,
 32: 7,
 35: bool,
 40: 'aaaaaaaaaa',
 43: 'aaaaaaaaaa',
 46: 'aaaaaaaaaa',
 47: 'aaaaaaaaaa',
 48: 'aaaaaaaaaa',
 50: 'aaaaaaaaaa',
 51: 'aaaaaaaaaa',
 52: ['python_', 'python channel'],
 53: ['python_', 'python channel']}

#Topicwise exercise

python basic (part-1)

In [8]:
#Write a Python program to print the following string in a specific format
#Sample String : "Twinkle, twinkle, little star, 
#How I wonder what you are! 
#Up above the world so high, Like a diamond in the sky.
# Twinkle, twinkle, little star, How I wonder what you are"

print('''       Twinkle, twinkle, little star,
         How I wonder what you are!   
         Up above the world so high, 
         Like a diamond in the sky. 
        Twinkle, twinkle, little star,
         How I wonder what you are''')
#other way to print this string
print("\n")
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

       Twinkle, twinkle, little star,
         How I wonder what you are!
         Up above the world so high,
         Like a diamond in the sky.
        Twinkle, twinkle, little star,
         How I wonder what you are


Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [9]:
#Write a Python program to get the Python version you are using.
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)

In [10]:
#Write a Python program to display the current date and time.
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-09-28 15:28:14

In [12]:
#Write a Python program which accepts the radius of a circle from the user and compute the area.
print("enter the radius of circle")
radius=float(input())
area=3.14*radius*radius
print("area of circle")
print(area)

#other way to find
print("\n")
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

enter the radius of circle
1.1
area of circle
3.7994000000000008


Input the radius of the circle : 1.1
The area of the circle with radius 1.1 is: 3.8013271108436504

In [17]:
#Write a Python program which accepts the user's first and last name and print them 
#in reverse order with a space between them.
x=str(input("enter the user's first and last name:"))
print(x)
print("reverse of entered username")
print(x[::-1])  #print it reverse

enter the user's first and last name:TANU RAJPUT
TANU RAJPUT
reverse of entered username
TUPJAR UNAT

In [24]:
#Write a Python program which accepts a sequence of comma-separated numbers from user 
#and generate a list and a tuple with those numbers
values=input("sequence of comma seperated number::")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

sequence of comma seperated number::3 4 5 6 7
List :  ['3 4 5 6 7']
Tuple :  ('3 4 5 6 7',)

In [26]:
#Write a Python program to accept a filename from the user and print the
# extension of that
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: hy.java
The extension of the file is : 'java'