<a href="https://colab.research.google.com/github/TanuRajput110/PYTHON-PROGRAMS/blob/main/tuple%2Csetpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Tuple

--it is similar to list,              --but unlike list they are mutable,means they cann't be change

In [5]:
#as we know tuple contain ().but with commas
tuple_1=(1,)
print(tuple_1)
#what happened if we remove comma
tuple_2=(1)
tuple_2

(1,)

1

In [7]:
#you also don't need to specify parenthesis for printing tuples
tuple_1=1,
tuple_1

(1,)

In [19]:
#when you apply sorted on a tuple that will result to list
tuple_4=(3,4,8,1,4)
sorted(tuple_1)
#so sorted doesnt work for tuple becoz tuples are immutable

[3, 3, 3, 4, 4, 5, 6, 7]

In [36]:
#if we have many same element in a tuple then index method only given the index of 
#first occuracy of that element in given tuple.
tuple_3=(3,4,3,3,5,6,4,7)
print(tuple_1.count(4))
#finding element on index(tuple indexing)
print(tuple_1[3])
print(tuple_1[6])
print(tuple_1[0])
#finding index of any elements
print(tuple_1.index(3))

2
3
4
3
0

In [35]:
#tuple_slicing
print(tuple_1[1:4])
print(tuple_1[:]) #it print all the elements
print(tuple_1[:-1])
print(tuple_1[::-1])#it will print reverse 
print(tuple_1[1:4:2])#it print element from 1 to 3 with stepsize 2

(4, 3, 3)
(3, 4, 3, 3, 5, 6, 4, 7)
(3, 4, 3, 3, 5, 6, 4)
(7, 4, 6, 5, 3, 3, 4, 3)
(4, 3)

###tuple methods

In [25]:
#zip()::it return n-paired tuples
print(zip(tuple_3,tuple_4))
print(tuple(zip(tuple_3,tuple_4)))

<zip object at 0x7f4b0239ca50>
((3, 3), (4, 4), (3, 8), (3, 1), (5, 4))

In [37]:
#index()
tuple_1.index(5)

4

In [38]:
#count()
tuple_1.count(3)

3

##Sets

set is not a sequence .it is unordered collection of unique elements we can construct them by set() function.set cann't have duplicate. they are mutable.

In [43]:
#empty set will written as
set()

set()

In [44]:
#non empty set always represented with curly braces
x={1,2,3}
x

{1, 2, 3}

In [45]:
#we can have sets of multiple datatype
y={1.2,2,"tanu",True}
y

{1.2, 2, True, 'tanu'}

an empty set can't be represented as {}.it will be an empty dict

In [49]:
#set can't contain mutable type like list,etc.
#but set itself a mutable type
my_set={1,2,3,[4,5,6]}
my_set
#it will give error as list is mutable

TypeError: ignored

In [50]:
#we can put tuples inside a set because it is immutable
my_set={1,2,3,(4,5,6)}
my_set

{(4, 5, 6), 1, 2, 3}

methods of set

In [56]:
#add()
#use to add single elements
my_set=set()
my_set.add('a')
my_set.add('2')
my_set

{'2', 'a'}

In [63]:
#update()
#to add multiple elements
my_set.update([2, 3, 4])
my_set
#order may vary that doesn't matter

{2, '2', 3, 4}

In [64]:
#remove()
#use to remove an item from set
my_set.remove(4)
my_set.remove(3)
my_set

{2, '2'}

In [67]:
#union
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A.union(B))
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
#intersection
print(A.intersection(B))
print(A&B)

{4, 5}
{4, 5}

In [69]:
#difference()
print(A.difference(B))
print(A-B)

{1, 2, 3}
{1, 2, 3}

In [71]:
#SYMMETRIC_DIFFERENCE()
#symmetric_difference() method returns the set of elements in A and B but not in both (excluding the intersection)
#Also denoted by the operator ^
print(A.symmetric_difference(B))
print(A^B)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}